cdocumenteditor#edt_customer_customer section[class="address"]{
	-moz-binding: url(binding:modules.customer.cCustomerEditor#addressSection);
}
cdocumenteditor#edt_customer_customer cresumesection[sectionname="orders"]{
	-moz-binding: url(binding:modules.customer.cCustomerEditor#cResumeOrderSection);
}
cdocumenteditor#edt_customer_customer cresumesection[sectionname="carts"]{
	-moz-binding: url(binding:modules.customer.cCustomerEditor#cResumeCartSection);
}
cdocumenteditor#edt_customer_customer subsection[class="orderproperties"]{
	-moz-binding: url(binding:modules.customer.cCustomerEditor#cResumeOrderPropertiesSection);
}
cdocumenteditor#edt_customer_customer subsection[class="cartproperties"]{
	-moz-binding: url(binding:modules.customer.cCustomerEditor#cResumeCartPropertiesSection);
}
cdocumenteditor#edt_customer_customer section[class="order"]{
	-moz-binding: url(binding:modules.customer.editor.customer.orders#orderSection);
}
cdocumenteditor#edt_customer_customer section[class="cart"]{
	-moz-binding: url(binding:modules.customer.editor.customer.carts#cartSection);
}
cdocumenteditor#edt_customer_customer row[linetype="cart-line"],cdocumenteditor#edt_customer_customer row[linetype="sub-cart-line"]{
	-moz-binding: url(binding:modules.customer.editor.customer.carts#lineRow);
}
cdocumenteditor#edt_customer_customer row[linetype="grid-header"]{
	-moz-binding: url(binding:modules.customer.editor.customer.carts#headRow);
}

