row[linetype="grid-header"]{
	font-weight: bold;
}
row[linetype="cart-line"]:nth-child(even){
	background: whitesmoke;
}
div[anonid="commentadmin"]{
	margin-left: 6px;
	white-space: pre;
}
label[anonid="order-status"].in-progress{
	color: orange;
}
label[anonid="order-status"].complete{
	color: green;
}
label[anonid="order-status"].canceled{
	color: grey;
}
section.order label.text-link{
	color: blue;
	cursor: pointer;
}