.identification{
	float: left;
	display: block;
	width: 100%;
}
.identification-form{
	float: left;
	display: block;
	width: 45%;
	padding: 2%;
}
.identification-newcustomer{
	float: right;
	display: block;
	width: 45%;
	padding: 2%;
	border: 1px solid #a8adbd;
}
.identification-form label,label.standard,.authentication-form label{
	float: left;
	width: 100%;
	text-align: left;
	font-weight: bold;
	display: block;
}
.identification-form input.button,.authentication-form input.button{
	margin-top: 10px;
	margin-bottom: 10px;
}
.identification-form input.textfield,.authentication-form input.textfield{
	width: 80%;
}
.authentication-form{
	float: left;
	display: block;
	width: 100%;
}
.authentication-form form.formauthentication{
	border: none;
	text-align: left;
}
.addnewaddress{
	margin-bottom: 10px;
}
#AccountContentColumn1{
	width: 224px;
}
#AccountContentColumn2{
	width: 64.4%;
}
div#AccountContentColumn2 h1{
	margin: 10px 0 20px 0;
	padding: 0 0 4px 0;
	border-bottom: 4px solid #e6d1e5;
	font-size: 1.1em;
	font-weight: bold;
	color: #666;
}
table.orders td.photo img{
	border: 1px solid #8080ba;
}
table.children{
	border-collapse: separate;
	margin: 0;
	font-size: 1em;
}
table.children caption{
	margin: 10px 0 5px 0;
	font-size: 1em;
	font-weight: bold;
	text-align: left;
}
table.children th,table.children td{
	padding: 2px 5px;
	color: #000;
	font-weight: normal;
	vertical-align: top;
	text-align: left;
}
table.children th{
	border-bottom: 1px solid #d4d4d4;
}
table.children th.action{
	border-bottom: 0;
	color: #fff;
}
table.children td.action{
	text-align: center;
	vertical-align: middle;
}
select#sex1{
	width: 80px;
}
select#sex2{
	width: 80px;
}
select#sex3{
	width: 80px;
}
select#sex4{
	width: 80px;
}
select#sex5{
	width: 80px;
}
select#sex6{
	width: 80px;
}
select#sex7{
	width: 80px;
}
select#sex8{
	width: 80px;
}
input#pro1{
	width: 60px;
	margin-top: -2px;
}
input#pro1{
	width: 60px;
	margin-top: -2px;
}
input#pro1{
	width: 60px;
	margin-top: -2px;
}
input#pro2{
	width: 60px;
	margin-top: -2px;
}
input#pro3{
	width: 60px;
	margin-top: -2px;
}
input#pro4{
	width: 60px;
	margin-top: -2px;
}
input#pro5{
	width: 60px;
	margin-top: -2px;
}
input#pro6{
	width: 60px;
	margin-top: -2px;
}
input#pro7{
	width: 60px;
	margin-top: -2px;
}
input#pro8{
	width: 60px;
	margin-top: -2px;
}
table.children tfoot td{
	text-align: right;
}
table.orders{
	border-collapse: separate;
	margin: 10px 0;
	padding: 0px;
	width: 100%;
	font-size: 1em;
}
table.orders caption{
	margin: 10px 0 5px 0;
	font-size: 1em;
	font-weight: normal;
	text-align: left;
}
table.orders th,table.orders td{
	padding: 5px;
	text-align: center;
}
table.orders th{
	background-color: #fbe7ea;
	color: #733463;
	font-weight: bold;
}
table.orders th.action,table.orders th.photo{
	color: #fbe7ea;
}
table.orders td{
	color: #030000;
	background-color: #fef5f6;
}
.UPSCols{
	width: 100%;
	display: table;
}
.UPSCol1{
	width: 50%;
	float: left;
}
.UPSCol2{
	width: 50%;
	float: right;
}
table.totalUPS2{
	border-collapse: collapse;
	margin: 10px 0 20px 0;
	width: 100%;
	font-size: 1em;
}
table.totalUPS2 th,table.totalUPS2 td{
	padding: 2px 5px;
	color: #ca026c;
	font-weight: bold;
	background-color: #fef5f6;
	text-align: left;
	vertical-align: middle;
}
table.totalUPS2 td{
	padding: 2px 5px;
	color: #030000;
	text-align: right;
}
table.totalUPS2 tr.sum th,table.totalUPS2 tr.sum td{
	padding: 5px;
	border-top: 1px solid #c50074;
}
table.totalUPS2 tr.sum td{
	font-size: 1.2em;
}
table.total{
	border-collapse: collapse;
	margin: 10px 0 10px 49%;
	font-size: 1em;
}
table.total th,table.total td{
	padding: 2px 5px;
	color: #ca026c;
	font-weight: bold;
	background-color: #fef5f6;
	text-align: left;
	vertical-align: middle;
}
table.total td{
	padding: 2px 5px;
	color: #030000;
	text-align: right;
}
table.total tr.sum th,table.total tr.sum td{
	padding: 5px;
	border-top: 1px solid #c50074;
}
table.total tr.sum td{
	font-size: 1.2em;
}
table.totalUPS{
	border-collapse: collapse;
	margin: 10px 0 20px 0;
	width: 50%;
	font-size: 1em;
}
table.totalUPS th,table.totalUPS td{
	padding: 2px 5px;
	color: #ca026c;
	font-weight: bold;
	background-color: #fef5f6;
	text-align: left;
	vertical-align: middle;
}
table.totalUPS td{
	padding: 2px 5px;
	color: #030000;
	text-align: right;
}
table.totalUPS tr.sum th,table.totalUPS tr.sum td{
	padding: 5px;
	border-top: 1px solid #c50074;
}
table.totalUPS tr.sum td{
	font-size: 1.2em;
}
fieldset.delivery{
	border: #e9cde9 solid 1px;
	margin: 10px 0 0 0;
	padding: 5px 0 5px 10px;
}
p.delivery{
	float: left;
	width: 40%;
	color: #676767;
}
p.delivery2{
	color: #676767;
}
dl.delivery{
	float: right;
	display: inline;
	margin: 10px 0;
	width: 40%;
	font-size: 1em;
}
dl.delivery dt{
	margin: 0 0 -10px 0;
	font-size: 1em;
	font-weight: bold;
	color: #c3006f;
}
dl.delivery dd{
	margin: 20px 0 0 0;
	font-size: 1em;
}
dl.delivery dd address{
	margin: 0 0 5px 0;
	font-weight: bold;
	font-style: normal;
	font-size: 1em;
}
p.code{
	clear: both;
	padding: 10px;
	border: 1px solid #e9cde9;
	width: 50%;
	color: #c3006f;
}
.order-message-menu{
	padding-bottom: 20px;
	clear: left;
}
ul.order-send-message{
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: right;
	text-align: right;
	width: 99%;
}
p.order-intro-text{
	font-size: 1.1em;
	color: #c3006f;
	font-weight: bold;
}
textarea.send-message-to-aubert{
	width: 99%;
	height: 6em;
	font-size: 1.1em;
	font-family: verdana;
	margin-bottom: 10px;
}
.message-to-aubert{
	border-top: #c3006f 1px solid;
	padding: 10px 0px;
}
.order-message-sent{
	margin-bottom: 20px;
}
a.button2{
	color: #c3006f;
	font-weight: bold;
	text-align: center;
	padding: 2px 4px;
	border-left: #e4b1d6 1px solid;
	border-top: #e4b1d6 1px solid;
	border-right: #9c8ba0 1px solid;
	border-bottom: #9c8ba0 1px solid;
	background: #fcdfee;
	display: block;
	width: 4em;
	margin: 0 auto;
}
a.button2:hover{
	cursor: pointer;
	color: #c3006f;
}
a.question-order-answer:link,a.question-order-answer:visited{
	color: #000;
}
a.question-order-answer:hover{
	text-decoration: underline;
}
ul.history-messages{
	list-style-type: none;
	font-size: 1.1em;
}
ul.history-messages ul{
	margin-bottom: 25px;
	font-size: 1.1em;
}
ul.history-messages li li{
	padding: 2px 10px;
	list-style-type: none;
	background: url(/media/frontoffice/historique-answer.gif) no-repeat 0px 3px;
}
.shortcuts dd dt{
	display: inline;
	color: #666666;
	font-weight: bold;
	font-size: 1em;
}
.shortcuts dd{
	background: url(/media/frontoffice/a_nav.gif) no-repeat 2px 2px;
	padding-left: 15px;
	padding-bottom: 8px;
	margin-left: 30px;
}
div.modules-customer-createaccount fieldset.radio p{
	font-weight: bold;
	color: #97539b;
	width: 148px;
	font-size: 1em;
	vertical-align: top;
	padding-top: 2px;
	display: inline-block;
	line-height: 1;
	float: left;
	margin-left: 183px;
}
div.modules-customer-createaccount fieldset.radio em{
	font-weight: bold;
	color: #C3006F;
}
div.modules-customer-createaccount label.nocmx{
	width: 12%;
	margin-top: 10px;
}
div.modules-customer-createaccount p.textAlignCenter{
	clear: both;
	text-align: center;
}

@import url(/modules/customer/style/frontoffice.!xul.all.css);
@import url(/modules/customer/style/frontoffice.xul.all.css);
@import url(/modules/customer/style/frontoffice.gecko.all.css);
@import url(/modules/customer/style/frontoffice.trident.all.css);
@import url(/modules/customer/style/frontoffice.trident.4.css);