<h2 change:h="" change:translate="&modules.customer.frontoffice.Addresses-title;" />

<ul change:messages="" />

<tal:block tal:define="address customer/getDefaultAddress" tal:condition="address">
	<h3 change:h="" change:translate="&modules.customer.frontoffice.Primary-address;" />
	<ul tal:define="isDefault php: true" metal:use-macro="address" />
</tal:block>

<tal:block tal:define="addresses customer/getSecondaryAddresses" tal:condition="addresses">
	<h3 change:h="" change:translate="&modules.customer.frontoffice.Secondary-addresses;" />
	<ol class="delivery">
		<li tal:repeat="address customer/getSecondaryAddresses">
			<ul tal:define="isDefault php: false" metal:use-macro="address" />
		</li>
	</ol>
</tal:block>

<h3 change:h="" change:translate="&modules.customer.frontoffice.New-address;" />
<div class="addnewaddress">
	<a class="button" change:actionlink="" block="customer_manageaddress" action="add" change:translate="&modules.customer.frontoffice.Add-address;" />
</div>

<ul metal:define-macro="address">
	<li><h4 change:h="" tal:content="address/getLabel" /></li>
	<li><span tal:replace="address/getTitle/getLabel" /> <span tal:replace="address/getFirstname" /> <span tal:replace="address/getLastname" /></li>
	<li tal:content="address/getAddressLine1" />
	<li tal:condition="address/getAddressLine2" tal:content="address/getAddressline2" />
	<li tal:condition="address/getAddressLine3" tal:content="address/getAddressline3" />
	<li><tal:block tal:replace="address/getZipcode" /> <tal:block tal:replace="address/getCity" /></li>
	<li tal:condition="address/getProvince" tal:content="address/getProvince" />
	<li tal:content="address/getCountry/getLabel" />
	<li tal:condition="address/getPhone" tal:content="address/getPhone" />
	<li tal:condition="address/getFax" tal:content="address/getFax" />
	<li tal:condition="address/getEmail" tal:content="address/getEmail" />
	<li>	
		<form change:form="beanName address">
			<input change:hiddeninput="name beanId" value="${address/getId}" />
            <input class="button" change:submit="name edit" label="&modules.customer.frontoffice.Edit;" />
            <input tal:condition="not: isDefault" class="button" change:submit="name delete" label="&modules.customer.frontoffice.Delete;" />
            <input tal:condition="not: isDefault" class="button" change:submit="name setDefault" label="&modules.customer.frontoffice.Set-default;" />
		</form>
	</li>
</ul>