<form change:form="beanClass customer_CustomerWrapperBean; beanName customerWrapper">
	<fieldset>
		<legend class="h-1">${trans:m.customer.frontoffice.create-account-title,ucf}</legend>
		<ul change:errors=""></ul>
		<ol>
			<li><input change:field="name customer.user.email" /></li>
			<tal:block tal:condition="configuration/getConfirmEmail"> 
				<li><input change:field="name emailconfirm; id customer_createaccount_emailconfirm; required true" /></li>
			</tal:block>
			<li><input change:field="name customer.user.titleid" /></li>
			<li><input change:field="name customer.user.firstname" /></li>
			<li><input change:field="name customer.user.lastname" /></li>
			<li><input change:datecombo="name customer.birthday" labeled="true" /></li>
			<tal:block tal:condition="not: customerWrapper/getBeanId">
				<li><input change:passwordinput="name password; required true" value="" labeled="true" class="passwordinput" /></li>
				<li><input change:passwordinput="name passwordconfirm; required true" value="" labeled="true" class="passwordinput" /></li>
			</tal:block>
		</ol>
		<p class="buttons">
			<input change:field="name beanId" hidden="true" />
			<input class="button" change:submit="name save" labeli18n="m.customer.document.customerwrapperbean.create-account" />
		</p>
	</fieldset>
</form>