<h2 change:h="" change:translate="modules.customer.frontoffice.Create-account-title"></h2>
<p change:translate="modules.customer.frontoffice.Create-account-line1; name customerWrapper/customer/getUser/getFullnameAsHtml"></p>
<p change:translate="modules.customer.frontoffice.Create-account-line2"></p>
<p change:translate="modules.customer.frontoffice.Create-account-line3"></p>
<p>
	<a class="button" change:link="tag ctx_customer_my-account" change:translate="modules.customer.frontoffice.Go-to-my-account"></a>
</p>