<div tal:condition="displayMenuaccount" class="ecom-block">
	<h3 class="title"><span i18n:translate="&modules.customer.frontoffice.Menu-mon;" tal:omit-tag=""></span><strong i18n:translate="&modules.customer.frontoffice.menu-account;" /></h3>
	<div class="content">
		<ul change:menu="menuObject menuaccount; itemName item; ulClass navlist%index;">
			<a change:menuitem="item" />
		</ul>
	</div>
</div>
<div tal:condition="displayMenuorders" class="ecom-block">
	<h3 class="title">
		<span i18n:translate="&modules.customer.frontoffice.Menu-mes;" tal:omit-tag=""></span><strong i18n:translate="&modules.customer.frontoffice.menu-orders;" />
	</h3>
	<div class="content">
		<ul change:menu="menuObject menuorders; itemName item; ulClass navlist%index;">
			<a change:menuitem="item" />
		</ul>
	</div>
</div>
<div tal:condition="displayMenuservices" class="ecom-block">
	<h3 class="title">
		<span i18n:translate="&modules.customer.frontoffice.Menu-mes;" tal:omit-tag=""></span><strong i18n:translate="&modules.customer.frontoffice.menu-services;" />
	</h3>
	<div class="content">
		<ul change:menu="menuObject menuservices; itemName item; ulClass navlist%index;">
			<a change:menuitem="item" />
		</ul>
	</div>
</div>