<h2 change:h="" change:translate="modules.customer.frontoffice.Addresses-title"></h2>
<p change:translate="modules.customer.frontoffice.Addresses-instructions"></p>
<ul change:messages=""></ul>
<br />

<tal:block tal:define="address customer/getDefaultAddress" tal:condition="address">
	<ul tal:define="isDefault php: true" metal:use-macro="address"></ul>
</tal:block>
<br />
<tal:block tal:define="addresses customer/getSecondaryAddresses" tal:condition="addresses">
	<h3 change:h="" change:translate="modules.customer.frontoffice.Secondary-addresses"></h3>
	<ol class="delivery">
		<li tal:repeat="address customer/getSecondaryAddresses">
			<ul tal:define="isDefault php: false" metal:use-macro="address"></ul>
		</li>
	</ol>
</tal:block>

<h3 change:h="" change:translate="modules.customer.frontoffice.New-address"></h3>
<div class="addnewaddress">
	<a class="button" change:actionlink="" block="customer_manageaddress" action="add" change:translate="modules.customer.frontoffice.Add-address"></a>
</div>

<ul metal:define-macro="address">
	<li><h4 change:h="">${address/getLabelAsHtml}</h4></li>
	<li>${address/getTitle/getLabelAsHtml} ${address/getFirstnameAsHtml} ${address/getLastnameAsHtml}</li>
	<li>${address/getAddressLine1AsHtml}</li>
	<li tal:condition="address/getAddressLine2">${address/getAddressline2AsHtml}</li>
	<li tal:condition="address/getAddressLine3">${address/getAddressline3AsHtml}</li>
	<li>${address/getZipcodeAsHtml} ${address/getCityAsHtml}</li>
	<li tal:condition="address/getProvince">${address/getProvinceAsHtml}</li>
	<li>${address/getCountry/getLabelAsHtml}</li>
	<li tal:condition="address/getPhone">${address/getPhoneAsHtml}</li>
	<li tal:condition="address/getMobilephone">${address/getMobilephoneAsHtml}</li>
	<li tal:condition="address/getFax">${address/getFaxAsHtml}</li>
	<li tal:condition="address/getEmail">${address/getEmailAsHtml}</li>
	<li>	
		<form change:form="beanName address">
			<input change:hiddeninput="name beanId" value="${address/getId}" />
            <input class="button" change:submit="name edit" label="&modules.customer.frontoffice.Edit;" />
            <input tal:condition="not: isDefault" class="button" change:submit="name delete" label="&modules.customer.frontoffice.Delete;" />
            <input tal:condition="not: isDefault" class="button" change:submit="name setDefault" label="&modules.customer.frontoffice.Set-default;" />
		</form>
	</li>
</ul>