<p class="success" tal:condition="successMessage">${successMessage}</p>
<p class="error" tal:condition="errorMessage">${errorMessage}</p>
<tal:block tal:condition="message">
	<p change:translate="modules.customer.frontoffice.Unpublished-general-message" class="normal"></p>
	<p class="normal">${message}</p>
	<ul class="normal">
		<li tal:condition="display/resendLink">
			<a change:link="tag ctx_customer_resend-confirmation-email" change:translate="modules.customer.frontoffice.Resend-email-link"></a>
		</li>
		<li tal:condition="display/completeFormLink">
			<a change:link="tag ctx_customer_my-account-info" change:translate="modules.customer.frontoffice.Complete-information-link"></a>
		</li>
		<li tal:condition="display/contactLink">
			<a change:link="tag ctx_customer_contact-form" change:translate="modules.customer.frontoffice.Contact-us-link"></a>
		</li>
	</ul>
</tal:block>