<li tal:condition="not: inBackoffice">
	<h4 change:h="">${address/getLabel}</h4>
</li>
<li>${address/getTitle/getLabel} ${address/getFirstname} ${address/getLastname}</li>
<li tal:condition="address/getAddressLine1">${address/getAddressLine1}</li>
<li tal:condition="address/getAddressLine2">${address/getAddressline2}</li>
<li tal:condition="address/getAddressLine3">${address/getAddressline3}</li>
<li>${ddress/getZipcode} ${address/getCity}</li>
<li tal:condition="address/getProvince">${address/getProvince}</li>
<li tal:condition="address/getCountry">${address/getCountry/getLabel}</li>
<li tal:condition="address/getPhone">${address/getPhone}</li>
<li tal:condition="address/getMobilephone">${address/getMobilephone}</li>
<li tal:condition="address/getFax">${address/getFaxAsHtml}</li>