<form change:form="beanName customer">
	<fieldset>
		<legend class="h-1">${trans:m.customer.frontoffice.accountedit-title,ucf}</legend>
		<ul change:errors=""></ul>
		<ol>
			<li><input change:field="name user.email; required true" autocorrect="off" autocapitalize="off" /></li>
			<li><input change:field="name user.titleid" /></li>
			<li><input change:field="name user.firstname" /></li>
			<li><input change:field="name user.lastname" /></li>
			<li><input change:datecombo="name birthday" labeled="true" /></li>
		</ol>
		<p class="buttons">
			<input change:field="name beanId" hidden="true" />
			<input class="button" change:submit="name save" labeli18n="m.customer.frontoffice.save" />
		</p>
	</fieldset>
</form>